body {
    background-color: #9B9FB5;

}
#title {
    text-align: center;
    font-family: "Pacifico";
    text-shadow: 2px 2px white;
}

#image-header {
    font-family: "Pacifico";
}

main {
    width: 800px;
    margin: auto;
    padding-top: 30px;
    
}
p {
    font-size: 20px;
    font-family: "Asap Condensed";
}

img.albums {
    height: 500px;

}

img.lightsticks {
    height: 500px;

}
